.git
.gitignore
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
README.md
todo.md
test/
scripts/
resources/vectors.npy
resources/vectors.hnsw
resources/references.json
resources/references.json.gz
resources/norms.npy
resources/example-references.json
resources/example-payloads.json
resources/vectors_qmin.npy
resources/vectors_qscale.npy
